body {
    font-size: 18px;
    padding-bottom: 70px;
}
main {
    margin-top: 110px;
}

h2 {
    /*font-size: 25px;
    font-weight: 300;*/
    padding-top: 35px;
    margin-bottom: 10px;
    border-bottom: 1px solid #c8c8c8;
    text-align: center;
}

/*.navbar .navbar-brand {
    font-size: 28px;
    height: auto;
    line-height: 50px;
    margin-left: 20px;
}*/

.page-header {
    margin-top: 0;
}

img {
    max-width: 100%;
    padding: 4px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.bg {
  background: url('../images/elephant.jpeg') no-repeat center center;
  background-size:100%;
  position: fixed;
  width: 100%;
  height: 450px; /*same height as jumbotron */
  top:0;
  left:0;
  z-index: -1;
}

.jumbotron {
  height: 450px;
  color: white;
  text-shadow: #444 0 1px 1px;
  background:transparent;
  border: none;
}

pre {
    background-color: #2b2b2b;
}